* {box-sizing: border-box;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(1000px * 2); /* Double the width to ensure all images fit within the slider */
}

.slide {
  min-width: 20%; /* Each slide takes 20% of the container width */
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}