{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main-stylesheet.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'main-js.js' %}"></script>
        
        
        <nav class="d-flex navbar navbar-expand-md darkNav navbar-dark">
            <!-- Toggler/collapsibe Button -->
            <span class="d-md-none d-block" style="cursor:pointer" onclick="openNav()"><img width="30px" height="30px" src="https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg"></span>

            <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img width="30px" height="30px" src="https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg"></a>
              <div class="overlay-content">
                <ul class="navbar-nav pl-4 pt-1">
                  <li class="nav-item dropdown">
                      <a class="nav-link" href="#" data-toggle="dropdown">
                        Store
                      </a>
                      <div style="background-color: #171a21;" class="dropdown-menu">
                        <a class="menuItem" href="/">Home</a>
                        <a class="menuItem" href="#">Discovery Queue</a>
                        <a class="menuItem" href="#">Wishlist</a>
                        <a class="menuItem" href="#">Points Shop</a>
                        <a class="menuItem" href="#">News</a>
                        <a class="menuItem" href="#">Stats</a>
                      </div>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Support</a>
                    </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Account</a>
  
                    <div style="background-color: #171a21;" class="dropdown-menu">
                      <a class="menuItem" href="../Login/login.html">Login</a>
                      <a class="menuItem" href="#">Sign Up</a>
                    </div>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="../About/about.html">About</a>
                  </li>
                </ul>
              </div>
            </div>
            
        <div class="mx-auto bg">
            <a class="float-left" href="/"><img
                class="logoBig" src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"></a>
            
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav pt-1">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                      Cửa hàng
                    </a>
                    <div style="background-color: #171a21;" class="dropdown-menu">
                      <a class="menuItem" href="#">Trang chủ</a>
                      <a class="menuItem" href="#">Hàng khám phá</a>
                      <a class="menuItem" href="#">Danh sách ước</a>
                      <a class="menuItem" href="#">Cửa hàng điểm</a>
                      <a class="menuItem" href="#">Tin tức</a>
                      <a class="menuItem" href="#">Thống kê</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hỗ trợ</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#">Tài khoản</a>

                  <div style="background-color: #171a21;" class="dropdown-menu">
                    <a class="menuItem" href="../Login/login.html">Đăng nhập</a>
                    <a class="menuItem" href="#">Đăng kí</a>
                  </div>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="../About/about.html">Thông tin</a>
                </li>
              </ul>
            </div>
        </div>

        <button type="button" class="d-none d-md-block btn btn-success" data-target="#">
            <img width="15px" height="15px" src="https://img.icons8.com/material-sharp/256/download--v1.png">Cài đặt Steam</button>

          </nav>
    </head>

    <body style="background-color: #1b2838;">
      <div class="bg">
        <div class="video-container" style="justify-content: center;">
            <video autoplay muted loop id="myVideo" class="img-fluid" style="z-index: -1;">
                <source src="{% static 'abstractbluebg_720.mp4' %}" type="video/mp4">
              </video>

            <div class="d-none d-md-block navbarCaption mx-auto">
                <nav class="navbar navbar-expand-sm navbarBg">
                    
                    <!-- Links -->
                    <ul class="navbar-nav" >
                        <li class="nav-item dropdown">
                            <a class="nav-link navBarItem" href="#" data-toggle="dropdown">
                            Cửa hàng của bạn
                            </a>
                            <div style="background-color: #3786c6;" class="dropdown-menu">
                              <a class="menuItem" href="#">Trang chủ</a>
                              <a class="menuItem" href="#">Khuyến nghị từ cộng đồng</a>
                              <a class="menuItem" href="#">Ứng dụng theo dõi</a>
                              <a class="menuItem" href="#">Tùy chỉnh</a>
                            </div>
                          </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link navBarItem" href="#">Mới và đáng chú ý</a>
                            <div style="background-color: #3786c6;" class="dropdown-menu">
                              <a class="menuItem" href="#">Bán chạy nhất</a>
                              <a class="menuItem" href="#">Chơi nhiều nhất</a>
                              <a class="menuItem" href="#">Ưu đãi đặc biệt</a>
                              <a class="menuItem" href="#">Phát hành sắp ra mắt</a>
                          </li>

                        <li class="nav-item dropdown">
                          <a class="nav-link navBarItem" href="#">Danh mục</a>
        
                          <div style="background-color: #3786c6;" class="dropdown-menu">
                            <a class="menuItem navBarItem" href="#">Hành động</a>
                            <a class="menuItem navBarItem" href="#">Nhập vai</a>
                            <a class="menuItem navBarItem" href="#">Chiến thuật</a>
                            <a class="menuItem navBarItem" href="#">Phiêu lưu</a>
                            <a class="menuItem navBarItem" href="#">Thể thao</a>
                          </div>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link navBarItem" href="#">Labs</a>
                        </li>
                      </ul>
                      <form class="form-inline ml-auto" action="javascript:void(0);">
                        <input id="searchInput" class="form-control" type="text" placeholder="Tìm kiếm">
                        <button style="background-color: #8080ef9c;" onclick="redirectToSearchPage()" class="btn" type="button">
                          <img width="15px" height="15px" src="https://img.icons8.com/material-rounded/256/search.png">
                        </button>
                      </form>
                  </nav>
            </div>

            <div 
             class="caption">
                <h5>20/6 đến 1/7 Múi giờ GMT+7</h5>
                <img style="width: 40%; height: 40%;" src="{% static 'nextfest.png' %}">

            </div>
        </div>

        


          
        <div style="display:inline-block;width: 65%; height: 50%;position: relative; margin-top: 2%; margin-left: 17%;"
         id="demo" class="carousel slide carousel-fade" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
            <li data-target="#demo" data-slide-to="6"></li>
            <li data-target="#demo" data-slide-to="7"></li>
            <li data-target="#demo" data-slide-to="8"></li>
            <li data-target="#demo" data-slide-to="9"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            {% for AppId, url in most_played_ids_header_img %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <a href="product/{{ AppId }}/{{ UID }}">
                  <img src="{{ url }}">
                </a>
              </div>
            {% endfor %}
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>

        <div style="margin-left: 17%; margin-top: 3%">
          <h2 class="midTitleFont">Summer Sale: 50% off từ ngày 20/5 đến hết 30/6</h2>
        </div>

        <div style="display:inline-block;width: 65%; height: fit-content;position: relative; margin-top: 2%; margin-left: 17%;"
         id="demo2" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul style="display: none;" class="carousel-indicators">
            <li data-target="#demo2" data-slide-to="0" class="active"></li>
            <li data-target="#demo2" data-slide-to="1"></li>
            <li data-target="#demo2" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <!--This Div Contains the full carousel item, with each div inside containing a single image with caption for each img-->
            <div class="carousel-item active">
              <div class="carouselItem" style="float: left;background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/1086940/header.jpg?t=1657252325);">
                <a href="product/1086940/0">
                  <img class="carouselImg" src="https://cdn.akamai.steamstatic.com/steam/apps/1172470/header.jpg?t=1657217209">
                  <span class="carouselCaption">Baldur's Gate 3 | 49.99$</span>
                </a>
              </div>

              <div class="carouselItem" style="float: left;background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/271590/header.jpg?t=1618856444);">
                <a href="product/271590/0">
                  <img class="carouselImg" src="https://cdn.akamai.steamstatic.com/steam/apps/1172470/header.jpg?t=1657217209">
                  <span class="carouselCaption">GTA V | 49.99$</span>
                </a>
              </div>

              <div class="carouselItem" style="float: left;background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/1091500/header.jpg?t=1649065890);">
                <a href="product/1091500/0">
                  <img class="carouselImg" src="https://cdn.akamai.steamstatic.com/steam/apps/1172470/header.jpg?t=1657217209">
                  <span class="carouselCaption">Cyberpunk 2077 | 49.99$</span>
                </a>
              </div>
              
            </div>


            <div class="carousel-item">
              
              <div class="carouselItem" style="float: left;background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/990080/header.jpg?t=1676056674);">
                <a href="product/990080/0">
                  <img class="carouselImg" src="https://cdn.akamai.steamstatic.com/steam/apps/1172470/header.jpg?t=1657217209">
                  <span class="carouselCaption">Hogwart's Legacy | 49.99$</span>
                </a>
              </div>

              <div class="carouselItem" style="float: left;background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/976310/header.jpg?t=1654216426);">
                <a href="product/976310/0">
                  <img class="carouselImg" src="https://cdn.akamai.steamstatic.com/steam/apps/1172470/header.jpg?t=1657217209">
                  <span class="carouselCaption">Mortal Kombat 11 | 49.99$</span>
                </a>
              </div>

              <div class="carouselItem" style="float: left;background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/1245620/header.jpg?t=1654259241);">
                <a href="product/1245620/0">
                  <img class="carouselImg" src="https://cdn.akamai.steamstatic.com/steam/apps/1172470/header.jpg?t=1657217209">
                  <span class="carouselCaption">Elden Ring | 49.99$</span>
                </a>
              </div>
              
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo2" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo2" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>

      <div class="title">Các game được chơi nhiều nhất</div>
      <div class="slideshow-container">
        <div class="topGame" id="topGame">
          {% for AppId, name, url in most_played_ids_names_header_img %}
            <div class="games">
              <a href="product/{{ AppId }}/{{ UID }}">
                <img class="gameImage" src="{{ url }}" alt="Image 1">
                <h3>{{ name }}</h3>
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="prev" onclick="moveSlides(-1, 'topGame')">&#10094;</a>
        <a class="next" onclick="moveSlides(1, 'topGame')">&#10095;</a>
      </div>


      <div class="title">Dành cho bạn</div>
      <div class="slideshow-container">
        <div class="gameForU" id="gameForU">
          {% for AppId, url, name in personal_rcm_games %}
            <div class="games">
              <a href="product/{{ AppId }}/{{ UID }}">
                <img class="gameImage" src="{{ url }}" alt="Image 1">
                <h3>{{ name }}</h3>
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="prev" onclick="moveSlides(-1, 'gameForU')">&#10094;</a>
        <a class="next" onclick="moveSlides(1, 'gameForU')">&#10095;</a>
      </div>
        
    </div>
    </body>
    <div class="card-footer" style="background-color: #313234; width: 100%; height:100px; padding: 20px 350px; color: whitesmoke;
      overflow: hidden; position: relative;">
        <div style="float: left; padding-right: 10px; height: 100%;">
          <img  src="https://store.cloudflare.steamstatic.com/public/images/footerLogo_valve_new.png" width="88px" height="25px" alt="Valve Software">
        </div>
        <div style="float: right; padding-left: 10px; height: 100%;">
          <img  src="https://store.cloudflare.steamstatic.com/public/images/v6/logo_steam_footer.png" alt="Valve Software" width="92px" height="26px">
        </div>
      <span>
        © 2024 Valve Corporation. Bảo lưu mọi quyền. Tất cả các thương hiệu là tài sản của chủ sở hữu tương ứng tại Hoa Kỳ và các quốc gia khác.
        <br>
        Giá đã bao gồm VAT (nếu có).
      </span>
      </div>
</html>