{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'product-stylesheet.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script><script src="{% static 'product-js.js' %}"></script>
        <script src="{% static 'product-js.js' %}"></script>

        <nav id="menu" class="d-flex navbar navbar-expand-md darkNav navbar-dark">
            <!-- Toggler/collapsibe Button -->
            <span class="d-md-none d-block" style="cursor:pointer" onclick="openNav()"><img width="30px" height="30px" src="https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg"></span>

            <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img width="30px" height="30px" src="https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg"></a>
              <div class="overlay-content">
                <ul class="navbar-nav pl-4 pt-1">
                  <li class="nav-item dropdown">
                      <a class="nav-link" href="#" data-toggle="dropdown">
                        Store
                      </a>
                      <div style="background-color: #171a21;" class="dropdown-menu">
                        <a class="menuItem" href="../Home/home.html">Home</a>
                        <a class="menuItem" href="#">Discovery Queue</a>
                        <a class="menuItem" href="#">Wishlist</a>
                        <a class="menuItem" href="#">Points Shop</a>
                        <a class="menuItem" href="#">News</a>
                        <a class="menuItem" href="#">Stats</a>
                      </div>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Support</a>
                    </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Account</a>
  
                    <div style="background-color: #171a21;" class="dropdown-menu">
                      <a class="menuItem" href="#">Login</a>
                      <a class="menuItem" href="#">Sign Up</a>
                    </div>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="../About/about.html">About</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button> -->
        <div class="mx-auto bg">
            <a class="float-left" href="/"><img
                class="logoBig" src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"></a>
            
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav pt-1">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown">
                      Store
                    </a>
                    <div style="background-color: #171a21;" class="dropdown-menu">
                      <a class="menuItem" href="#">Home</a>
                      <a class="menuItem" href="#">Discovery Queue</a>
                      <a class="menuItem" href="#">Wishlist</a>
                      <a class="menuItem" href="#">Points Shop</a>
                      <a class="menuItem" href="#">News</a>
                      <a class="menuItem" href="#">Stats</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#">Account</a>

                  <div style="background-color: #171a21;" class="dropdown-menu">
                    <a class="menuItem" href="#">Login</a>
                    <a class="menuItem" href="#">Sign Up</a>
                  </div>
                </li>
                
                
                <li class="nav-item">
                  <a class="nav-link" href="../About/about.html">About</a>
                </li>
                <form action="javascript:void(0);" class="searchBar">
                  <input id="searchInput" type="text" placeholder="Search..">
                  <button style="background-color: #316282;" class="searchButton" onclick="redirectToSearchPage()" type="button"><img width="10px" height="10px" src="https://img.icons8.com/material-rounded/256/search.png"></button>
                </form>
              </ul>
            </div>
        </div>

        <button type="button" class="d-none d-md-block btn btn-success" data-target="#">
            <img width="15px" height="15px" src="https://img.icons8.com/material-sharp/256/download--v1.png">Install Steam</button>
          </nav>
    </head>
    
    <body id="body" style="background-color: #1b2838;">
      <div class="content1">
      <p class="nameGame">
        {{ name }}
      </p>
        <div class="bg">
            <!--Game Highlights Container-->
            <div id="game-highlight-div" class="container" style=" width: 60%; height: 470px; position: relative; background-color: #0e151d; padding: 0px;">
              
                <div style="float: left; width: 60%; height: 100%;" id="demo" class="carousel slide carousel-fade vid-carousel" data-ride="carousel" data-interval="false">

          <!-- Indicators -->
          
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
                <video controls autoplay muted id="myVideo" width="100%" height="100%">
                    <source src="{{video}}" type="video/mp4">
                  </video>
            </div>
            {% for url in screenshots %}
              <div class="carousel-item">
                <img src="{{url}}">
              </div>
            {% endfor %}
          </div>

          
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
          <div class="abc">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active" style="background-position: center; background-repeat: no-repeat ; background-size: cover ; background-image: url(https://us.123rf.com/450wm/jovanas/jovanas2103/jovanas210300845/166535325-video-player-icon-flat-illustration-for-graphic-and-web-design.jpg?ver=6);"></li>
              {% for url in screenshots %}
                <li data-target="#demo" data-slide-to="{{forloop.counter}}" style="background-image: url({{url}});"></li>
              {% endfor %}
            </ul>
          </div>
          
        </div>

        <div id="game-highlight" style="display: inline-block; width: 40%; height: 100%; padding-left: 1%;">
            <img class="game_header_image_full" src="{{header_img}}"
            style="width: 100%;">
            
            <p class="smallFont">
              {{about}}
                <br> 
                <br>
                <div class="container2">
                <ol class="tinyFont" display: inline-block;>
                    <li>REREALSE DATE:</li>
                    <li>DEVELOPER:</li>
                    <li>PUBLISHER:</li>
                    <li>CATEGORIES:</li>
                    <li>GENRES:</li>
                    <li>TAGS:</li>
                  </ol>
                  <ol class="gameDetail" display: inline-block;>
                    <li class="categories">{{release}}</li>
                    <li class="categories">{{developer}}</li>
                    <li class="categories">{{publisher}}</li>
                    <li class="categories">{{categories}}</li>
                    <li class="categories">{{genres}}</li>
                    <li class="categories">{{tags}}</li>
                  </ol>
              </div>
            </p>
        </div>

                
        </div>
        <div style="display: flex;">
          <div class="PurchaseGameBox" id="game-price" style="
          width: 40%; height: 80px; background-image: linear-gradient(to right, rgb(45, 61, 74) , rgb(87, 101, 116));">
              <div class="PurchaseGameName" >
                  Purchase {{ name }}
              </div>
              <div class="PurchaseGamePrice" id="price" style="background-color: black; float: right; padding: 5px;">
                      <span style="color: #c5d3de; position: relative; top: 8px; padding-right: 12px;">$19.99 USD</span>
                  <div id="btn-buy" style="float: right;">
                      <a href="../Checkout/checkout.html">
                        <button type="button" class="btn btn-success"><span>Buy Game</span></button>
                      </a>
                  </div>
              </div>
          </div>
          <div class="ratingBox">
            <h1 style="font-size: 20px; color: white;">Đánh giá của bạn</h1>
            <div class="star-rating">
              <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="5 stars"></label>
              <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 stars"></label>
              <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 stars"></label>
              <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 stars"></label>
              <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star"></label>
          </div>
          </div>
        </div>
        </div>

        <!-- BAT DAU RECOMMENDED -->
        <div class="title">Các game liên quan</div>
        <div class="slideshow-container">
          <div class="relatedContent" id="relatedContent">
            {% for AppId, url, name in similar_games %}
              <div class="games">
                <a href="/product/{{ AppId }}/{{ UID }}">
                  <img class="gameImage" src="{{ url }}" alt="Image 1">
                  <h3>{{ name }}</h3>
                </a>
              </div>
            {% endfor %}
          </div>
          <a class="prev" onclick="moveSlides(-1, 'relatedContent')">&#10094;</a>
          <a class="next" onclick="moveSlides(1, 'relatedContent')">&#10095;</a>
        </div>
        
        <div class="title">Game khác của NPH {{ publisher }}</div>
        <div class="slideshow-container"> 
          <div class="devGame" id="devGame">
            {% for AppId, url, name in same_publisher_games %}
              <div class="games">
                <a href="/product/{{ AppId }}/{{ UID }}">
                  <img class="gameImage" src="{{ url }}" alt="Image 1">
                  <h3>{{ name }}</h3>
                </a>
              </div>
            {% endfor %}
          </div>
          <a class="prev" onclick="moveSlides(-1, 'devGame')">&#10094;</a>
          <a class="next" onclick="moveSlides(1, 'devGame')">&#10095;</a>
        </div>
        
        <div class="title">Game thể loại {{ best_feature_1 }}</div>
        <div class="slideshow-container">
          <div class="tagGame1" id="tagGame1">
            {% for AppId, url, name in same_feature_games_1 %}
              <div class="games">
                <a href="/product/{{ AppId }}/{{ UID }}">
                  <img class="gameImage" src="{{ url }}" alt="Image 1">
                  <h3>{{ name }}</h3>
                </a>
              </div>
            {% endfor %}
          </div>
          <a class="prev" onclick="moveSlides(-1, 'tagGame1')">&#10094;</a>
          <a class="next" onclick="moveSlides(1, 'tagGame1')">&#10095;</a>
        </div>

        <div class="title">Game thể loại {{ best_feature_2 }}</div>
        <div class="slideshow-container">
          <div class="tagGame2" id="tagGame2">
            {% for AppId, url, name in same_feature_games_2 %}
              <div class="games">
                <a href="/product/{{ AppId }}/{{ UID }}">
                  <img class="gameImage" src="{{ url }}" alt="Image 1">
                  <h3>{{ name }}</h3>
                </a>
              </div>
            {% endfor %}
          </div>
          <a class="prev" onclick="moveSlides(-1, 'tagGame2')">&#10094;</a>
          <a class="next" onclick="moveSlides(1, 'tagGame2')">&#10095;</a>
        </div>
    
    <div class="card-footer" style="background-color: #313234; width: 100%; height:100px; padding: 20px 350px; color: whitesmoke;
      overflow: hidden; position: relative;">
        <div style="float: left; padding-right: 10px; height: 100%;">
          <img  src="https://store.cloudflare.steamstatic.com/public/images/footerLogo_valve_new.png" width="88px" height="25px" alt="Valve Software">
        </div>
        <div style="float: right; padding-left: 10px; height: 100%;">
          <img  src="https://store.cloudflare.steamstatic.com/public/images/v6/logo_steam_footer.png" alt="Valve Software" width="92px" height="26px">
        </div>
      <span>
        © 2023 Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries
        <br>
        VAT included in all prices where applicable.
      </span>
      </div>
    </div>
    </body>
</html>